<div id="footerPush"></div>
<footer id="mainFooter" class="main-footer">
    <script>
        let currentYear=new Date().getFullYear(); let spanYear=document.getElementsByClassName("currentYear");
        spanYear[0].textContent = currentYear; spanYear[1].textContent = currentYear;
    </script>
    <p>
        &copy; <span class="currentYear"></span> &middot; BisUmTo<br/>&copy; <span class="currentYear"></span> &middot; MultiCore Network<br/>
        <a href="../legal/cookie-policy.html">Informativa sui Cookies</a> <a href="https://github.com/BisUmTo/website" style="color: white;" target="_blank"><i class="fab fa-github"></i></a> <a href="../legal/privacy-policy.html">Informativa sulla Privacy</a> 
    </p>
</footer>
