    <meta charset="UTF-8">
    <meta name="description" content="Il sito ufficiale di BisUmTo">
    <meta name="keywords" content="multicore network, multicore, bisumto">
    <meta name="author" content="LoreSchaeffer, BisUmTo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#282828">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/multicore.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" crossorigin="anonymous" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" defer></script>
    <script src="https://apis.google.com/js/platform.js" defer></script>
    <script src="/js/scripts.js" defer></script>
