<nav id="mainNavbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img class="img-responsive" src="../images/navbar-brand.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bisMenu" aria-controls="bisMenu" aria-expanded="false" aria-label="Apri/Chiudi menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bisMenu">
        <ul class="navbar-nav mr-auto">
            <li id="nav-link-home" class="nav-item"><a class="nav-link" href="../"><i class="fas fa-home"></i> Home</a></li>
            <li id="nav-link-biloma" class="nav-item"><a class="nav-link" href="../biloma"><i class="fas fa-share"></i> Biloma</a></li>
            <li id="nav-link-redcraft2" class="nav-item"><a class="nav-link" href="../redcraft2"><i class="fas fa-signal"></i> RedCraft 2</a></li>
            <li id="nav-link-postazione" class="nav-item"><a class="nav-link" href="https://amazon.it/shop/bisumto" target="_blank"><i class="fas fa-desktop"></i> Postazione</a></li>
            <li id="nav-link-downloads" class="nav-item"><a class="nav-link" href="../downloads"><i class="fas fa-download"></i> Downloads</a></li>
            <li id="nav-link-contatti" class="nav-item"><a class="nav-link" href="../contatti"><i class="fas fa-envelope"></i> Contatti</a></li>
            <li id="nav-link-multicore" class="nav-item"><a class="nav-link" href="https://multicore.network" target="_blank"><i class="fas fa-globe"></i> MultiCore</a></li>
        </ul>
    </div>
</nav>
<div style="height: 76px;"></div>
