<i>[Link aggiornati il 6/7/19]</i><br/><br/>
Scaricare, estrarre ed avviare MultiMC <small>(<a href="https://multimc.org/#Download">download</a>)</small><br/>
Creare un'istanza <b>da zip</b>, immettere il link <code>https://media.forgecdn.net/files/2610/746/rift-1.0.4-66.zip</code><br/>
Andare nella cartella <code>.minecraft/mods</code> <b>dell'istanza</b> e importare le seguenti mod:
<ul>
    <li>MaliLib <small>(<a href="https://masa.dy.fi/tmp/minecraft/mods/malilib/malilib-rift-1.13.2-0.10.0-dev.19.jar">download</a>) [Necessaria per Litematica, Tweakeroo, ItemScroller e MiniHUD]</small></li>
    <li>Litematica <small>(<a href="https://masa.dy.fi/tmp/minecraft/mods/litematica/litematica-rift-1.13.2-0.0.0-dev.20190611.200317.jar">download</a> | <a href="https://www.curseforge.com/minecraft/mc-mods/litematica">informazioni</a>)</small></li>
    <li>Tweakeroo <small>(<a href="https://masa.dy.fi/tmp/minecraft/mods/tweakeroo/tweakeroo-rift-1.13.2-0.10.0-dev.20190628.031829.jar">download</a> | <a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo">informazioni</a>)</small></li>
    <li>ItemScroller <small>(<a href="https://masa.dy.fi/tmp/minecraft/mods/itemscroller/itemscroller-rift-1.13.2-0.15.0-dev.20190609.195102.jar">download</a> | <a href="https://www.curseforge.com/minecraft/mc-mods/item-scroller">informazioni</a>)</small></li>
    <li>MiniHUD <small>(<a href="https://masa.dy.fi/tmp/minecraft/mods/minihud/minihud-rift-1.13.2-0.19.0-dev.20190615.230313.jar">download</a> | <a href="https://www.curseforge.com/minecraft/mc-mods/minihud">informazioni</a>)</small></li>

    <li>Optifine <small>(<a href="https://optifine.net/adloadx?f=OptiFine_1.13.2_HD_U_E7.jar">download</a>)</small></li>

    <li>NeatForRift <small>(<a href="https://www.curseforge.com/minecraft/mc-mods/neat-for-rift/download/2609781">download</a>)</small></li>
    <li>SimpleLightOverlay <small>(<a href="https://www.curseforge.com/minecraft/mc-mods/simple-light-overlay-rift/download/2700607">download</a>)</small></li>
    <li>EasyVillagerTrading <small>(<a href="https://www.curseforge.com/minecraft/mc-mods/easiervillagertrading/download/2675175">download</a>)</small></li>
    <li>VoxelMap <small>(<a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap/download/2725543">download</a>)</small></li>
</ul>