#header {
    text-align: center;
    font-variant: small-caps;
}

section h1{
    font-variant:small-caps
}
.block p{
    font-size:110%
}
/*.bg-white h1{
    color:var(--redcraft-red)
}*/
.row{
    margin-top:2em
}
.card{
    text-align:center;
    margin-bottom:1em
}
.card h5.card-title{
    font-size:800%;
    color:white
}
.card h3{
    color:white
}
.card p{
    font-size:150%
}
.separator{
    margin:1em 5%;
    border-color:white
}
.top-buffer {
    margin-top:20px;
}
.extra {
    font-size: 10px
}

.bg-card-youtube:hover { transition: 0.5s;background-color:#ff0000 }
.bg-card-teamspeak:hover { transition: 0.5s;background-color:#2980c3 }
.bg-card-telegram:hover { transition: 0.5s;background-color:#0088cc }
.bg-card-instagram:hover { transition: 0.5s;background-color:#c32aa3 }
.bg-card-twitter:hover { transition: 0.5s;background-color:#1da1f2 }
.bg-card-discord:hover { transition: 0.5s;background-color:#7289da }
.bg-card-github:hover { transition: 0.5s;background-color:#24292e }
.bg-card-twitch:hover { transition: 0.5s;background-color:#6441a4 }
.bg-card-email:hover { transition: 0.5s;background-color:#565656 }