#header {
    text-align: center;
    font-variant: small-caps;
}
#header h1 {
    line-height: 1;
}
#title {
    text-align: center;
    font-variant: small-caps;
}
#subtitle {
    text-align: center;
}
form {
    margin-left: 8%;
}
.form-control {
    max-width: 100px;
}
#block {
    max-width: 200px;
}
.colonna {
    text-align: center;
}
#contatore {
    margin-top: 30px
}
.progress {
    height: 4px;
}
#progresso {
    transition: none;
}