#header {
    text-align: center;
    font-variant: small-caps;
}
#header h1 {
    line-height: 1;
}
#title {
    text-align: center;
    font-variant: small-caps;
}
#subtitle {
    text-align: center;
}
@media (max-width: 728px) {
    .banner-pc {display: none}
    .banner-mobile {display: block}
}
@media (min-width: 728px) {
    .banner-pc {display: block}
    .banner-mobile {display: none}
}
.prodotto {
    margin:5px;
}
.row {
    margin:0px;
}