#header {
    text-align: center;
    font-variant: small-caps;
}
#header h1 {
    line-height: 1;
}
#title {
    text-align: center;
    font-variant: small-caps;
}
#subtitle {
    text-align: center;
}
#cloud {
    overflow: hidden;
    width: 1px; height: 1px;
    transform: translate(-100%, -100%);
    border-radius: 50%;
    filter: url(#filter);
}
.addcolor, .color, .fullscreen {
    height: 30px;
    width: 35px;
    border: 6px;
    padding: 0px;
    display: inline-block;
    position: relative;
    z-index: 3;
}
.overclouds {
    position: relative;
    z-index: 1;
}
.btn-primary {
    background-color: var(--almost-black);
}
.btn-primary:hover {
    background-color: var(--redcraft-red);
}
form.hide {
    opacity: 0.0;
    transition: 1s;
}
  
form.hide:hover {opacity: 1}