<i>[Link aggiornati il 28/08/21]</i><br /><br />
Scaricare, estrarre ed avviare MultiMC <small>(
    <a href="https://multimc.org/#Download">download</a> )</small><br />
Creare un'istanza selezionando la versione <b>1.17.1</b>, cliccare con il tasto destro sull'istanza creata e
successivamente su <b>Modifica istanza</b>.<br />
Aggiungere <b>fabric</b> all'istanza mediante l'apposito bottone posto sulla destra.<br />
Andare nella voce <b>Mods</b> del men&ugrave; posto sulla sinistra, <b>aprire la cartella</b> mediante l'apposito
bottone nell'angolo in basso a destra della finestra e importare in tale cartella le seguenti mod:
<ul>
    <li>Carpet RedCraft Addons <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/carpet-redcraft-addons/download/3355799">download</a> |
            <a href="https://github.com/MultiCoreNetwork/carpet-redcraft-addons" target="_blank">informazioni</a> )
    </small></li>
    <li>MaliLib <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/malilib/download/3387061">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/malilib" target="_blank">informazioni</a> )
            <br/> [Necessaria per Litematica, Tweakeroo, ItemScroller e MiniHUD]
    </small></li>
    <li>Litematica <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/litematica/download/3387062">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/litematica" target="_blank">informazioni</a> )
    </small></li>
    <li>Tweakeroo <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo/download/3383609">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo" target="_blank">informazioni</a> )
    </small></li>
    <li>ItemScroller <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/item-scroller/download/3379264">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/item-scroller" target="_blank">informazioni</a> )
    </small></li>
    <li>MiniHUD <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/minihud/download/3379923">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/minihud" target="_blank">informazioni</a> )
    </small></li>

    <li>CarpetMod <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/carpet/download/3422601">download</a> |
            <a href="https://github.com/gnembon/fabric-carpet" target="_blank">informazioni</a> )
    </small></li>

    <li>WorldEdit <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/worldedit/download/3433990" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/worldedit" target="_blank">informazioni</a> )
    </small></li>

    <li>VoxelMap <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap/download/3345206" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap" target="_blank">informazioni</a> )
    </small></li>

    <li>Fabric API <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api/download/3439042" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api" target="_blank">informazioni</a> )
            [Necessaria per ReplayMod, Logical Zoom e LambDynamicLights]
    </small></li>
    <li>ReplayMod <small>(
            <a href="https://www.replaymod.com/download/download_new.php?version=1.17.1-2.6.1" target="_blank">download</a> |
            <a href="https://www.replaymod.com/" target="_blank">informazioni</a> )
    </small></li>
    <li>ModMenu <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/modmenu/download/3441183">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/modmenu" target="_blank">informazioni</a> )
    </small></li>
    <li>OpenToAll <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/opentoall/download/3435335">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/opentoall" target="_blank">informazioni</a> )
    </small></li>
    <li>Starlight <small>(
            <a href="https://github.com/PaperMC/Starlight/releases/download/1.0.0-RC3/starlight-1.0.0-RC3+fabric.1.17.x.jar">download</a> |
            <a href="https://github.com/PaperMC/Starlight" target="_blank">informazioni</a> )
    </small></li>
</ul>
<a href="https://www.curseforge.com/minecraft/mc-mods/optifabric">OptiFabric</a>, la mod che permetteva di utilizzare <a href="https://optifine.net/">Optifine</a> nei ModPack Fabric, non garantisce pi&ugrave; il supporto delle nuove versioni.<br />
Seguono delle mod alternative per migliorare le performance e sostituire le features che Optifine inseriva.<br />
<ul>
    <b>CLIENT</b>
    <li>Iris Shaders <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/irisshaders/download/3404785" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/irisshaders" target="_blank">informazioni</a> )
            [Migliora le performance]
    </small></li>
    <li>Logical Zoom <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/logical-zoom/download/3379216" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/logical-zoom" target="_blank">informazioni</a> )
            [Aggiunge lo zoom]
    </small></li>
    <li>LambDynamicLights <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights/download/3409038" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights" target="_blank">informazioni</a> )
            [Aggiunge l'illuminazione dinamica]</small></li>
    <b>SERVER</b>
    <li>Lithium <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/lithium/download/3438799" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/lithium" target="_blank">informazioni</a> )
            [Migliora le performance]
    </small></li>
    <li>Phosphor <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/phosphor/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/phosphor" target="_blank">informazioni</a> )
            [Migliora i light update]
    </small></li>
</ul>