<i>[Link aggiornati il 04/12/21]</i><br /><br />
Scaricare, estrarre ed avviare MultiMC <small>(
    <a href="https://multimc.org/#Download" target="_blank">download</a> )</small><br />
In caso di problemi nell'avvio di Minecraft da MultiMC, seguire <a href="https://youtu.be/VMFRyw4TZEg" target="_blank">
    questo video tutorial</a> per installare manualmente Java 16. <br />
Creare un'istanza selezionando la versione <b>1.18</b>, cliccare con il tasto destro sull'istanza creata e
successivamente su <b>Modifica istanza</b>.<br />
Aggiungere <b>fabric</b> all'istanza mediante l'apposito bottone posto sulla destra.<br />
Andare nella voce <b>Mods</b> del men&ugrave; posto sulla sinistra, <b>aprire la cartella</b> mediante l'apposito
bottone nell'angolo in basso a destra della finestra e importare in tale cartella le seguenti mod:
<ul>
    <li>MaliLib <small>(
        <a href="https://www.curseforge.com/minecraft/mc-mods/malilib/download/3544210" target="_blank">download</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/malilib" target="_blank">informazioni</a> )
        <br/> [Necessaria per Litematica, Tweakeroo, ItemScroller e MiniHUD]
    </small></li>
    <li>Litematica <small>(
        <a href="https://www.curseforge.com/minecraft/mc-mods/litematica/download/3545947" target="_blank">download</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/litematica" target="_blank">informazioni</a> )
    </small></li>
    <li>Tweakeroo <small>(
        <a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo/files" target="_blank">download non disponibile</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo" target="_blank">informazioni</a> )
    </small></li>
    <li>ItemScroller <small>(
        <a href="https://www.curseforge.com/minecraft/mc-mods/item-scroller/download/3544231" target="_blank">download</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/item-scroller" target="_blank">informazioni</a> )
    </small></li>
    <li>MiniHUD <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/minihud/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/minihud" target="_blank">informazioni</a> )
    </small></li>

    <li>CarpetMod <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/carpet/download/3542018" target="_blank">download</a> |
            <a href="https://github.com/gnembon/fabric-carpet" target="_blank">informazioni</a> )
    </small></li>

    <li>WorldEdit <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/worldedit/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/worldedit" target="_blank">informazioni</a> )
    </small></li>

    <li>VoxelMap <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap" target="_blank">informazioni</a> )
    </small></li>

    <li>Fabric API <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api/download/3546679" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api" target="_blank">informazioni</a> )
            [Necessaria per ReplayMod, Logical Zoom e LambDynamicLights]
    </small></li>
    <li>ReplayMod <small>(
            <a href="https://www.replaymod.com/download/" target="_blank">download non disponibile</a> |
            <a href="https://www.replaymod.com/" target="_blank">informazioni</a> )
    </small></li>
</ul>
<a href="https://www.curseforge.com/minecraft/mc-mods/optifabric">OptiFabric</a>, la mod che permetteva di utilizzare <a href="https://optifine.net/" target="_blank">Optifine</a> nei ModPack Fabric, non garantisce pi&ugrave; il supporto delle nuove versioni.<br />
Seguono delle mod alternative per migliorare le performance e sostituire le features che Optifine inseriva.<br />
<ul>
    <b>CLIENT</b>
    <li>Sodium <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/sodium/download/3542074" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/sodium" target="_blank">informazioni</a> )
            [Migliora le performance]
    </small></li>
    <li>Iris <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/irisshaders/download/3542382" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/irisshaders" target="_blank">informazioni</a> )
            [Permette di utilizzare le shaders con Sodium]
    </small></li>
    <li>Logical Zoom <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/logical-zoom/download/3542015" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/logical-zoom" target="_blank">informazioni</a> )
            [Aggiunge lo zoom]
    </small></li>
    <li>LambDynamicLights <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights/download/3541670" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights" target="_blank">informazioni</a> )
            [Aggiunge l'illuminazione dinamica]
    </small></li>
    <li> Custom Entity Models (CEM) <small> (
            <a href="https://www.curseforge.com/minecraft/mc-mods/custom-entity-models-cem/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/custom-entity-models-cem" target="_blank">informazioni</a> )
            [Permette di aggiungere modelli delle entità personalizzati]
    </small></li>
    <li>LambdaBetterGrass <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdabettergrass/download/3436762" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdabettergrass" target="_blank">informazioni</a> )
            [Migliora la grafica del blocco d'erba]
    </small></li>
    <li>Continuity <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/continuity/download/3549420" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/continuity" target="_blank">informazioni</a> )
            [Aggiunge la possibilità di connettere le texture]
    </small></li>
    <li>Cit Resewn <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/cit-resewn/download/3543705" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/cit-resewn" target="_blank">informazioni</a> )
            [Permette di aggiungere texture di oggetti personallizzate]
    </small></li>
    <li>OF Capes <small>( 
            <a href="https://www.curseforge.com/minecraft/mc-mods/of-capes/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/of-capes" target="_blank">informazioni</a> )
            [Aggiunge i mantelli della Optifine]
    </small></li>

    <b>SERVER</b>
    <li>Lithium <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/lithium/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/lithium" target="_blank">informazioni</a> )
            [Migliora le performance]
    </small></li>
    <li>Phosphor <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/phosphor/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/phosphor" target="_blank">informazioni</a> )
            [Migliora i light update]
    </small></li>
</ul>
