<i>[Link aggiornati il 6/1/21]</i><br /><br />
Scaricare, estrarre ed avviare MultiMC <small>(
    <a href="https://multimc.org/#Download">download</a> )</small><br />
Creare un'istanza selezionando la versione <b>20w51a</b> (se tale versione non dovesse essere nell'elenco, spuntare la voce "Snapshot"), cliccare con il tasto destro sull'istanza creata e
successivamente su <b>Modifica istanza</b>.<br />
Aggiungere <b>fabric</b> all'istanza mediante l'apposito bottone posto sulla destra.<br />
Andare nella voce <b>Mods</b> del men&ugrave; posto sulla sinistra, <b>aprire la cartella</b> mediante l'apposito
bottone nell'angolo in basso a destra della finestra e importare in tale cartella le seguenti mod:
<ul>
    <li>MaliLib <small>(
        <a href="https://masa.dy.fi/tmp/minecraft/mods/malilib/malilib-fabric-1.17-snap-20w51a-0.10.0-dev.21+beta.1.jar">download</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/malilib" target="_blank">informazioni</a> )
        <br/> [Necessaria per Litematica, Tweakeroo, ItemScroller e MiniHUD]
    </small></li>

    <li>Litematica <small>(
        <a href="https://masa.dy.fi/tmp/minecraft/mods/litematica/litematica-fabric-1.17-snap-20w51a-0.0.0-dev.20201218.030048.jar">download</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/litematica" target="_blank">informazioni</a> )
    </small></li>

    <li>Tweakeroo <small>(
        <a href="https://masa.dy.fi/tmp/minecraft/mods/tweakeroo/tweakeroo-fabric-1.17-snap-20w51a-0.10.0-dev.20201218.030023.jar">download</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/tweakeroo" target="_blank">informazioni</a> )
    </small></li>

    <li>ItemScroller <small>(
        <a href="https://masa.dy.fi/tmp/minecraft/mods/itemscroller/itemscroller-fabric-1.17-snap-20w51a-0.15.0-dev.20201218.025932.jar">download</a> |
        <a href="https://www.curseforge.com/minecraft/mc-mods/item-scroller" target="_blank">informazioni</a> )
    </small></li>

    <li>MiniHUD <small>(
            <a href="https://masa.dy.fi/tmp/minecraft/mods/minihud/minihud-fabric-1.17-snap-20w51a-0.19.0-dev.20201218.025957.jar">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/minihud" target="_blank">informazioni</a> )
    </small></li>

    <li>CarpetMod <small>(
            <a href="https://github.com/gnembon/fabric-carpet/releases/download/v1.4-homebound/fabric-carpet-20w51a-1.4.21+v201216.jar">download</a> |
            <a href="https://github.com/gnembon/fabric-carpet" target="_blank">informazioni</a> )
    </small></li>

    <li>WorldEdit <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/worldedit/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/worldedit" target="_blank">informazioni</a> )
    </small></li>

    <li>VoxelMap <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/voxelmap" target="_blank">informazioni</a> )
    </small></li>

    <li>Fabric API <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api/download/3159135" target="_blank">download</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api" target="_blank">informazioni</a> )
            [Necessaria per ReplayMod, Logical Zoom e LambDynamicLights]
    </small></li>

    <li>ReplayMod <small>(
            <a href="https://www.replaymod.com/download" target="_blank">download non disponibile</a> |
            <a href="https://www.replaymod.com/" target="_blank">informazioni</a> )
    </small></li>
</ul>
<a href="https://www.curseforge.com/minecraft/mc-mods/optifabric">OptiFabric</a>, la mod che permetteva di utilizzare <a href="https://optifine.net/">Optifine</a> nei ModPack Fabric, non garantisce pi&ugrave; il supporto delle nuove versioni.<br />
Seguono delle mod alternative per migliorare le performance e sostituire le features che Optifine inseriva.<br />
<ul>
    <b>CLIENT</b>
    <li>Sodium <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/sodium/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/sodium" target="_blank">informazioni</a> )
            [Migliora le performance]
    </small></li>
    <li>Logical Zoom <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/logical-zoom/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/logical-zoom" target="_blank">informazioni</a> )
            [Aggiunge lo zoom]
    </small></li>
    <li>LambDynamicLights <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/lambdynamiclights" target="_blank">informazioni</a> )
            [Aggiunge l'illuminazione dinamica]</small></li>
    <b>SERVER</b>
    <li>Lithium <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/lithium/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/lithium" target="_blank">informazioni</a> )
            [Migliora le performance]
    </small></li>
    <li>Phosphor <small>(
            <a href="https://www.curseforge.com/minecraft/mc-mods/phosphor/files" target="_blank">download non disponibile</a> |
            <a href="https://www.curseforge.com/minecraft/mc-mods/phosphor" target="_blank">informazioni</a> )
            [Migliora i light update]
    </small></li>
</ul>
