<div class="card-header bg-primary text-white"><h3><i class="fas fa-brush"></i> EasyUtility</h3></div>
<div class="card-body">
    Piccola Resource Pack che mette in evidenza gli oggetti che si stanno per rompere, nasconde le particelle superflue e evidenzia i minerali pi&ugrave; rari in modo da non perdene nemmeno uno!<br/>
    Questa Resource Pack aggiunge, inoltre, dei modelli per far funzionare al meglio il Datapack della RedCraft2.<br/><br/>
    Scarica le singole features:
    <ul>
        <li><b>RedCraft 2</b> <small>(<a href="https://github.com/BisUmTo/OneCommand/raw/master/ResourcesPack/EasyUtility%20-%20RedCraft2%20Pack/EasyUtility%20-%20RedCraft2%20Pack.zip">download</a>)</small> - ResourcePack necessaria al fine del corretto funzionamento di alcune funzionalit&agrave; del DataPack della RedCraft 2.</li>
        <li><b>Libri</b> <small>(<a href="https://github.com/BisUmTo/OneCommand/raw/master/ResourcesPack/EasyUtility%20-%20Libri/EasyUtility%20-%20Libri.zip">download</a>)</small> - ResourcePack che aggiunge un overlay al libro incantato a seconda dell'incantesimo più rilevante in esso contenuto. [Richiede Optifine]</li>
        <li><b>Minerali</b> <small>(<a href="https://github.com/BisUmTo/OneCommand/raw/master/ResourcesPack/EasyUtility%20-%20Minerali/EasyUtility%20-%20Minerali.zip">download</a>)</small> - ResourcePack che rende i minerali grezzi di un colore uniforme e facilmente visibile.</li>
        <li><b>Ossidiana</b> <small>(<a href="https://github.com/BisUmTo/OneCommand/raw/master/ResourcesPack/EasyUtility%20-%20Ossidiana/EasyUtility%20-%20Ossidiana.zip">download</a>)</small> - ResourcePack che rende l'oddisiana facilmente visibile.</li>
        <li><b>Piccone</b> <small>(<a href="https://github.com/BisUmTo/OneCommand/raw/master/ResourcesPack/EasyUtility%20-%20Piccone/EasyUtility%20-%20Piccone.zip">download</a>)</small> - ResourcePack che permette di accorgersi facilmente quando il proprio piccone si sta per rompere.</li>
    </ul>
    <div class="clearfix"></div>
    <a class="button resourceButton" href="https://github.com/BisUmTo/OneCommand/blob/master/ResourcesPack/EasyUtility/EasyUtility.zip?raw=true" target="_blank"><i class="fa fa-download"></i> Download</a>
</div>