<div class="card-header bg-primary text-white"><h3><i class="fas fa-brush"></i> Observer</h3></div>
<div class="card-body">
    <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HI9CioQudTA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="clearfix"></div>
    <a class="button resourceButton" href="https://www.mediafire.com/file/mlu477oz3l3yofh/Observer.zip/file" target="_blank"><i class="fa fa-download"></i> Download</a>
</div>